/*simplistic style sheet for sites*/

/*...base style*/

@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Light.woff")
}
@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Medium.woff")
 font-style: medium;
}
@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Heavy.woff")
 font-style: heavy;
}
@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Thin.woff")
 font-style: thin;
}
@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Bold.woff")
 font-style: bold;
}

body{
  padding-top:10px;
  padding-left:30px;
  font-family: CooperHewitt;
  font-size:1.5em;
}

/*...id's*/
#navWrap{
  height: 30px;
  position:fixed;
}

/*...classes*/

.container{
  font-family: 'Lekton', sans-serif;
  font-size: 65%;
  color: grey;
  font-style: normal;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: .2rem 0.5rem;
  white-space: nowrap;
  background: white;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display:block;
  /*border-style: solid;
  border-color: grey;*/
  /*border-width: 1px;*/
  box-sizing: border-box;
}
