/*simplistic style sheet for sites*/

/*...base style*/

@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Light.woff")
}
@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Medium.woff")
 font-style: medium;
}
@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Heavy.woff")
 font-style: heavy;
}
@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Thin.woff")
 font-style: thin;
}
@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Bold.woff")
 font-style: bold;
}
html{
  font-size: 15px;
}

head{
  padding-left:30px;
  font-family: CooperHewitt;
  font-style: heavy;
  font-size: 3.0rem;
}

body{
  padding-top:10px;
  padding-left:30px;
  font-family: CooperHewitt;
  font-size:1.7rem;
}

h1{font-size: 2.6rem;}
h2{font-size: 2.4rem;}
h3{font-size: 2.2rem;}
h4{font-size: 1.6rem;}
h5{font-size: 1.4rem;}
h6{font-size: 1.2rem;}

p{
  font-size:1.0rem;
}

a{
  color:inherit;
  text-decoration: inherit;
  padding-left: 10px;
}

/*...id's*/
#section{
  position: relative;

}
/*CLASSES*/

.code{
  font-family: 'Lekton', sans-serif;
  font-size: 1.0rem;
  color: grey;
  font-weight: bold;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: .2rem 0.5rem;
  white-space: nowrap;
  background: #F2F2F2;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display:block;
  box-sizing: border-box;
}

/*...navigation bar class*/
.navbar_border{
  display:block;
  width:100%;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navWrap{
  margin-bottom:0;
  font-family: CooperHewitt;
  font-style: bold;
  font-size: 1.2rem;
  white-space: nowrap;
}
