/*simplistic style sheet for sites*/

/*...base style*/

@font-face{
 font-family: CooperHewitt-L;
 src: url("fonts/CooperHewitt/CooperHewitt-Light.woff");
}
@font-face{
 font-family: CooperHewitt-M;
 src: url("fonts/CooperHewitt/CooperHewitt-Medium.woff");
}
@font-face{
 font-family: CooperHewitt-Book;
 src: url("fonts/CooperHewitt/CooperHewitt-Book.woff");
}
/*@font-face{
 font-family: CooperHewitt;
 src: url("fonts/CooperHewitt/CooperHewitt-Heavy.woff");
 font-style: heavy;
}*/
@font-face{
 font-family: CooperHewitt-T;
 src: url("fonts/CooperHewitt/CooperHewitt-Thin.woff");
}
@font-face{
 font-family: CooperHewitt-Bold;
 src: url("fonts/CooperHewitt/CooperHewitt-Bold.woff");
}
html{
  font-size: 15px;
}

head{
  padding-left:30px;
  font-size: 3.0rem;
}

body{
  padding-top:10px;
  padding-left:30px;
  font-family: CooperHewitt-T;
  font-size:1.7rem;
}

h1{font-size: 2.6rem; font-family: CooperHewitt-Bold;}
h2{font-size: 2.4rem; font-family: CooperHewitt-M;}
h3{font-size: 2.2rem; font-family: CooperHewitt-Book;}
h4{font-size: 1.6rem; font-family: CooperHewitt-T;}
h5{font-size: 1.4rem;}
h6{font-size: 1.2rem;}

p{
  font-size:1.0rem;
  font-family: CooperHewitt-L;
}

a{
  color:inherit;
  text-decoration: inherit;
  font-family: CooperHewitt-M;
  padding-left: 10px;
}

a:hover, a:focus, a:active{
  color: #2B76E8;
}

/*...id's*/
#section{
  position: relative;

}

#heading{
  background: url("images/zermatt_.png");
  color: white;
}

/*CLASSES*/

.code{
  font-family: 'Lekton', sans-serif;
  font-size: 1.0rem;
  color: grey;
  font-weight: bold;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: .2rem 0.5rem;
  white-space: nowrap;
  background: #F2F2F2;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display:block;
  box-sizing: border-box;
}

/*...navigation bar class*/
.navbar_border{
  display:block;
  width:100%;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navWrap{
  margin-bottom:0;
  font-family: CooperHewitt;
  font-style: medium;
  font-size: 1.2rem;
  white-space: nowrap;
}


.blog_container{
  position: relative;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
  z-index: 1;
}

.blog_container .blog_box{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  /*justify-content: center;*/
  width: 15%;
  background-color: #E1E1E1;
  border: 1px solid white;
  padding-left: 30px;
  padding-top: 30px;
  padding: 3%;
  float: left;
  z-index: 2;
}

.blog_container .blog_box:before{
  content: "";
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2B76E8;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.blog_container .blog_box:hover, .blog_container .blog_box:focus, .blog_container .blog_box:active{
  z-index: 4;
  color: white;
}

.blog_container .blog_box:hover:before, .blog_container .blog_box:focus:before, .blog_container .blog_box:active:before{
  -webkit-transform: scaleX(2);
   transform: scaleX(2);
   -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
   transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.blog_container .blog_box:nth-child(1) {left: 0%;}
.blog_container .blog_box:nth-child(2) {left: 0%;}
.blog_container .blog_box:nth-child(3) {left: 0%;}
